img.splashing-thumbnail {
    padding: 10px;
    width: 30%;
    width: 230px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.splashing-pagination { text-align: center; font-size: 1.2em; }