<div class="texticon search icon clearable">
    <form method="get" action="/admin/unsplash/search">
        <input class="text fullwidth" type="text" autocomplete="off" placeholder="Search" name="q" {% if craft.request.getParam('q') %}value="{{ craft.request.getParam('q') }}"{% endif %}>
        <div class="clear hidden" title="Clear"></div>
    </form>
</div>