{% extends '_layouts/cp' %}
{% set title = "Unsplash"|t %}

{% set content %}

        <div class="wrapper" id="splashing-images">
    {% for image in images %}
        {% set thumb = image.parameters.urls.thumb %}
        {% set download= image.parameters.links.download %}
        {% set author = image.parameters.user.name %}
            <a href="" class="upload" data-source="{{ download }}" data-author="{{ author }}">
                <img class="splashing-thumbnail ms-item" src="{{ thumb }}">
            </a>
    {% endfor %}
        </div>


    {% set masonry %}
        $( document ).ready(function() {
            var $grid = jQuery('#splashing-images').masonry({
                itemSelector: 'a.upload',
                gutter: 5,
            });
        });
    {% endset %}
    {% includeJs masonry %}
    {% includeJsResource "unsplash/js/jquery-3.2.1.min.js" %}
    {% includeJsResource "unsplash/js/masonry.pkgd.min.js" %}
{% endset %}

