{% extends '_layouts/cp' %}
{% set title = "Unsplash"|t %}

{% set tabs = {
latest: { label: "Lastest"|t, url: url('unsplash') },
curated: { label: "Curated"|t, url: url('unsplash/curated')},
random: { label: "Random"|t, url: url('unsplash/random')},
} %}
{% set selectedTab = 'latest' %}

{% set extraPageHeaderHtml %}
    <div class="texticon search icon clearable">
        <form method="get" action="/admin/unsplash/search">
            <input class="text fullwidth" type="text" autocomplete="off" placeholder="Search" name="q">
            <div class="clear hidden" title="Clear"></div>
        </form>
    </div>
{% endset %}

{% set content %}
    {% include 'unsplash/components/_images' %}
{% endset %}
