{% import "_includes/forms" as forms %}


{% if assetSources|length == 1 %}
<p class="error">{{ 'No sources exist yet.'|t }}</p>

{% else %}
{{ forms.selectField({
    first:        true,
    label:        "Save images in"|t,
    required:     true,
    id:           'assetSource',
    name:         'assetSource',
    instructions: "Select the asset source in which you want to save your images"|t,
    value:        settings.assetSource,
    options:      assetSources,
    errors:       settings.getErrors('assetSource')
}) }}

{% endif %}